<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="jquery.js"></script> 
    <style>
        * { box-sizing: border-box; }
body {
  font: 16px Arial; 
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
#myInput {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}
    </style>
</head>

<body>
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-collapse navbar-collapse-1 collapse" aria-expanded="true">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
            </li>
            <li class="active">
              <a href="/home/favourite"><span style="margin-right:2px" class="glyphicon glyphicon-star"></span> Favourites</a>
            </li>
          </ul>
          <h1 style="margin-left:43%;">Day2Day</h1>
          <div class="navbar-form navbar-right" style="float:right;width:100px;margin-top:-5%">
              <form class="form-inline" action="/logout" method="POST">
                <input type="submit" value="Logout" class="btn btn-info" role="button">
              </form>
          </div>
        </div>
      </div>
    </div>
    
    <div class="container">

      <div class="jumbotron" style="height:20px">
        <p style="margin:auto; padding:auto">Welcome <%=name %></p>
      </div>
        
      <!-- <svg height="50" width="50">
          <circle cx="25" cy="25" r="10" stroke="black" stroke-width="3" fill="green" />
          <p style="float:center;">Course To Attend Today.</p>
        </svg>
      <br> 
      <svg height="50" width="50">
          <circle cx="25" cy="25" r="10" stroke="black" stroke-width="3" fill="red" />
          Events You Cannot Attend Today.
        </svg> -->
      
      <form>
        <div class="dropdown">
          <button class="btn dropdown-toggle btn-primary" data-toggle="dropdown" href="#">Add Courses<span class="caret"></span></button>
          <ul class="dropdown-menu" >
            <% for (var i = 0; i < courseResults.length; i++) { %> 
              <li>
                <a href="#" data-value="<%= courseResults[i]['courseId'] %>"><%= courseResults[i]['courseId'] %> - <%= courseResults[i]['courseName'] %></a>
              </li>
            <% } %>
          </ul>
        </div>  
      </form>

      <form class="form-inline" id="addForm" style="display:none;" action="/home" method="POST">
        <div class="form-group">
          <label for="exampleInputName2">Course Id</label>
          <input type="text" name="courseId" class="form-control" id="courseId" placeholder="Course Id">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail2">Start Time</label>
          <input type="text" name="startTime" class="form-control" id="exampleInputEmail2" placeholder="17:00:00">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail2">End Time</label>
          <input type="text" name="endTime" class="form-control" id="exampleInputEmail2" placeholder="20:00:00">
        </div>
        <div class="form-group">
          <label for="">Day</label>
          <input type="text" name="day" class="form-control" id="exampleInputEmail2" placeholder="Monday">
        </div>
        <input type="submit" class="btn btn-default" value="Save"/>
      </form>
      <br/>
    
      <h2>My Courses</h2>
          
      <% for (var i = 0; i < enrolledCourses.length; i++) { %>         
        <div class="container" >
            <div class="panel panel-default">
              <div class="panel-heading"><b><%= enrolledCourses[i]['enrolledCourseId'] %>:</b> Day:<%= enrolledCourses[i]['enrolledCourseDay'] %> - Start Time:<%= enrolledCourses[i]['enrolledCourseStartTime'] %> - End Time: <%= enrolledCourses[i]['enrolledCourseEndTime'] %></div>
              <div class="panel-body" id=<%= enrolledCourses[i]['enrolledCourseDay'] %>><p id=<%= enrolledCourses[i]['enrolledCourseDay'] %> hidden><%= enrolledCourses[i]['enrolledCourseStartTime'] %></p>
                <%= enrolledCourses[i]['enrolledCourseName'] %>
              </div>
            </div>
        </div>
      <% } %>   
   
      <div class="container">
          <form action="/home/getEvents" method="POST">
              <input type="date" name="startDate" id="getdate"/>
              <input type="submit" value="Get Events" />
          </form> 
      </div>
      <br/>
      </br>

    <h2>Events</h2>

    <% for(var i = 0; i < eventDetails.length; i++){ %>
      <div class="panel panel-default">
          <div class="panel-heading" style="height:50px;">
            <b><span id="testday" hidden><%= eventDetails[i]['eventDay'] %></span><%= eventDetails[i]['eventName'] %>:</b> Start Time:<%= eventDetails[i]['eventStartTime'] %> - End Time: <%= eventDetails[i]['eventEndTime'] %>&nbsp; 
              <button style="float:right" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Get Directions</button>
              <form style="float:right" action="/favourite" method="POST">
                <input type="hidden" name="uid" value="5">
                <input type="hidden" name="event_name" value="<%= eventDetails[i]['eventName'] %>">
                <input type="hidden" name="event_desc" value="<%= eventDetails[i]['eventDescription'] %>">
                <input type="hidden" name="event_starttime" value="<%= eventDetails[i]['eventStartTime'] %>">
                <input type="hidden" name="event_endtime" value="<%= eventDetails[i]['eventEndTime'] %>">
                <input class="marked" style="display: inline" type="submit" value="★">
                <input class="unmarked" style="display: none" type="submit" value="☆">
                
              </form>
              <span id="<%= i + 'testStartTime'%>" hidden><%= eventDetails[i]['eventStartTime'] %></span>
              <span id="<%= i + 'testEndTime'%>" hidden><%= eventDetails[i]['eventEndTime'] %></span>
                
          </div>
          <script>
            var x = document.getElementById('testday').innerText;
            document.getElementById(x).style.background = "#45c345";
          </script>
          
          <div class="panel-body" id="<%= i + 'desc'%>">
              <%= eventDetails[i]['eventDescription'] %>
          </div> 
      </div>
    <% } %>
    <script>
      for(var i = 0; i < 30; i++){
        try{
          var start = document.getElementById(String(i) + 'testStartTime').innerText;
          var end = document.getElementById(String(i) + 'testEndTime').innerText;
          console.log(start, end)
          
          var y = document.getElementById('testday').innerText;
          var courseStartTime = document.getElementById(y).getElementsByTagName("p")[0].innerText
          
          var courseEnd = courseStartTime.split(":")[0];
          var courseEndTime = String(parseInt(courseEnd)+3)+":00:00";
          console.log(courseStartTime, courseEndTime)
          
          if ((start <= courseStartTime) && (end >= courseStartTime) || (start >= courseStartTime) && (start <= courseEndTime) ){
            document.getElementById(String(i) + 'desc').style.background = "red";
          }
          else{
            console.log('course not clashing with event')
          }
        }
        catch(err){
          console.log(err)
        }
      }
    </script>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-content" style="width:1000px;margin: auto">
        <div class="modal-body" style="height:500px;width:900px;">
          <iframe src="/home/route" style="width:100%; height:100%;"></iframe>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>          
    </div>
  </div>

  <script>
    $(".dropdown-menu li a").click(function(){
      $("#addForm").css('display','inline-block');
      var courseValue = $(this).text();
      var courseId = courseValue.substring(0,6);
      $("#courseId").val(courseId);
    });  
  </script>

</body>
</html>